body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  margin: 0;
}

.wall {
  cursor: pointer;

  position: relative;

  width: 400px;
  height: 400px;
  border: #e1e1e1 solid 10px;

  background-color: #f9b47d;
  background-image: url(../images/brick-wall.svg);
}

.spider {
  position: absolute;
  top: 0;
  left: 0;

  width: 50px;
  height: 50px;

  transition: 1s;
}
